<button class="ui icon button" (click)="back();">
    <i class="arrow left icon"></i>
</button>
<h4>Upload your invoice document</h4> <input type="file" id="myFile" name="filename">
<br>
<h4>Creditor</h4>
<div class="ui input">
    <input type="text" placeholder="">
</div>
<br>
<h4>Amount</h4>
<div class="ui input">
    <input type="text" placeholder="">
</div>
<br>
<h4>Invoice Category</h4>
<select class="ui dropdown">
    <option value="0">Travel Expenses</option>
    <option value="1">Misc</option>
    <option value="2">Software license costs</option>
</select>
<br>
<h4>Invoice Number</h4>
<div class="ui input">
    <input type="text" placeholder="">
</div>
<br>
<br>
<button class="ui primary button">Submit</button>
