<div class="ui category search">
    <div class="ui icon input">
      <input class="prompt" type="text" placeholder="Search...">
      <i class="search icon"></i>
    </div>
    <div class="results">

    </div>
    <table class="ui celled table">
        <thead>
          <tr>
            <th>Task</th>
            <th>Invoice Category</th>
            <th>Amount</th>
            <th>Invoice Number</th>
            <th>Creditor</th>
            <th>Requester</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let invoice of invoices;">
            <td >{{invoice.name}}</td>
            <td >{{invoice.category}}</td>
            <td >{{invoice.amount}}</td>
            <td >{{invoice.number}}</td>
            <td >{{invoice.creditor}}</td>
            <td></td>
            <td><button class="ui icon button">
                  <a routerLink="/paymentDetails/{{invoice.formKey}}/{{invoice.id}}"><i class="arrow right icon"></i></a>
                </button>
            </td>
          </tr>
        </tbody>
    </table>
    <button class="ui icon button" (click)="openCreatePaymentRequest();">
        <i class="plus icon"></i>
    </button>
</div>
