<!-- <app-login [hidden]="hidden" (hideEvent)="hideLoginForm($event)"></app-login> -->
<div>
  <div class="ui left fixed vertical menu" >
    <div class="item">
      <!-- <img class="ui mini image" src="../../static/Camunda-workflow-engine-gradient.png"> -->
    </div>
    <a routerLink="/dashboard" class="item"><b>Dashboard</b></a>
    <a routerLink="/configuration" class="item"><b>Parameter configuration</b></a>
    <a routerLink="/export" class="item"><b>Export</b></a>
  </div>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
</div>
